.description {
    color: #344a54;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}

.chingadera {
    /* background-color: #d9ecf8 !important; */
    padding: 15px !important;
    padding-top: 0px !important;
}

.explanation-custom {
    margin: 0px;
    color: #32b3aa;
    /* text-align: justify; */
}
 .title {
    color: #32b3aa;
    font-weight: bold; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
 }

 .fa-color {
     color: dodgerblue;
 }