/* Overwrite bootstrap row class */
.row-custom {
    margin: 0px;
}

.card-custom {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: white;
}
