<div id="map-container" [ngStyle]="getMapStyle()">

  <!-- Google Maps search box -->
  <div id="mamon" class="map-container">
    <input id="pac-input" type="text" placeholder="Buscar">
    <button type="submit" class="pac-button-close" (click)="clearInput()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <button type="submit" class="pac-button" (click)="getPosition()">
      <i class="fa fa-crosshairs" aria-hidden="true"></i>
    </button>
  </div>

  <!-- This element style is specified on styles.css -->
  <div id="map_canvas"></div>

  <!-- Confirm location -->
  <div style="position: absolute; bottom: 0; width: 100%; padding: 15px;">
    <div class="panel-custom">
      <div class="panel-body-custom" (click)="continue()">
        <h6 class="title" align="center">Confirmar ubicación</h6>
      </div>
    </div>
  </div>

</div>

<!-- Modal -->
<brief-confirmation-modal
#confirmationModal
[name]="name"
[question]="question"
[imgUrl]="imgUrlModal"
(onAnswer)="onUserConfirmed($event)">
</brief-confirmation-modal>
