<app-instruction-card [title]="title" [subtitle]="subtitle" [explanation]="explanation"></app-instruction-card>

<!-- Stars -->
<app-star-rating (onStarClicked)="onStarClick($event)"></app-star-rating>

<!-- Fixed image -->
<div class="row" style="margin: 0px;">
  <div class="card-custom">
    <app-real-img-card [imgUrl]="imgUrlFixed"></app-real-img-card>
  </div>
</div>

<!-- Siguiente -->
<app-next-button [text]="'Siguiente'" (onClicked)="continue()"></app-next-button>

<div class="text-link">
    <a class="link" (click)="goToGeneric()">Otra actividad</a>
</div>

<!-- Modal -->
<app-confirmation-modal
#confirmationModal
[name]="name"
[question]="question"
[imgUrl]="imgUrlModal"
(onAnswer)="onUserConfirmed($event)">
</app-confirmation-modal>
