<div [ngStyle]="getMapStyle()">
  <div id="mamon" style="width: 100%; padding: 15px;">
    <!-- Google Maps search box -->
    <input id="pac-input" type="text" placeholder="Buscar">
  </div>
  
  <!-- This element style is specified on styles.css -->
  <div id="map_canvas"></div>
  <div style="position: absolute; bottom: 0px; width: 100%; padding: 15px;">
    <div class="panel-custom2">
      <div class="panel-body-custom" (click)="continue()">
        <h6 class="title" align="center">Confirmar ubicación</h6>
      </div>
    </div>
  </div>
</div>