<div style="overflow: auto; background: linear-gradient(45deg,#33a4bc 30%, #32b3aa 70%);">
  <div style="color: white;"><i class="fa fa-arrow-left" aria-hidden="true" style="margin: 15px; margin-bottom: 0px;"></i></div>
  <div style="margin: 10px; margin-top: 0px; margin-bottom: 20px; text-align: center; font-size: 20px; font-weight: 700; font-family: Roboto Slab; line-height: 1; color: white;">Pago</div>
  <div style="margin: 10px; margin-top: 0px; text-align: center; font-size: 26px; font-weight: 700; font-family: Roboto Slab; color: white;">Membresía Jade Imperial</div>
  <div style="margin-left: 10px; margin-right: 10px; text-align: center; font-size: 16px; font-weight: 500; font-family: Arial; color: white;">PROMOCIÓN</div>
  <div style="margin-left: 10px; margin-right: 10px; text-align: center; font-size: 16px; font-weight: 400; line-height: 1; color: white;">Pago por cliente potencial</div>
  <div style="margin: 10px; margin-top: 0px; text-align: center; color: white; letter-spacing: -4px;">
    <span style="font-size: 34px; font-weight: 400; font-family: Roboto Slab;">$</span>
    <span style="font-size: 56px; font-weight: 400; font-family: unset;">10.°°</span>
  </div>
</div>
