.panel-custom {
    margin: 15px;
    background-color: #f9b134;
}

.panel-body-custom {
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    color: hsl(200, 19%, 28%);
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px; 
    margin-bottom: 0px;
}