<div bsModal #plansModal="bs-modal" class="modal fade" role="dialog">
  <!-- TODO: add ngIf directive -->
  <div *ngIf="isPpl;" id="modal-content" style="margin: 15px;">
    <div style="color: white; font-size: 20px;"><i class="fa fa-times" style="margin: 5px;" aria-hidden="true" (click)="closeModal()"></i></div>
    <div style="margin-bottom: 10px; color: white; text-align: center; font-size: 22px; font-family: Roboto Slab; font-weight: 600;">¿Quieres esos {{pplClientsNumber}} clientes potenciales al mes?</div>
    <div style="padding: 10px; border-radius: 10px; background-color: #17afcb;">
        <div style="margin-bottom: 10px; color: white; text-align: center; font-size: 22px; font-family: Roboto Slab; font-weight: 600;">¡Paga sólo por cada cliente potencial que recibas!</div>
        <div style=" margin-left: 15px; margin-right: 15px; display: flex; flex-direction: row; justify-content: center; border-radius: 10px; background-color: #87d5e4;">
          <div style="padding: 5px; padding-top: 10px;">
            <div style="margin-top: 5px; color: white; line-height: 1.1; font-size: 23px; font-family: Roboto Slab; text-align: center; font-weight: 600;"><br>Jade</div>
            <div style="color: #1fb1cc; text-align: center; font-family: Roboto Slab; font-weight: 900;"><span style="font-size: 20px;">$ </span><span style="font-size: 40px;">{{pplJadeCost}}</span></div>
            <div style="margin-top: 10px; color: white; line-height: 1.1; font-size: 18px; font-family: Roboto Slab; text-align: center; font-weight: 500;">por cliente potencial</div>
            <div style="margin-top: 20px; margin-left: 5px; margin-right: 5px; color: rgb(83, 83, 83); font-size: 12px; line-height: 1.1; text-align: center; font-weight: 600;">Paquete de {{pplJadeClients}} clientes potenciales</div>
            <div class="button-1" (click)="elect(1)">Elegir</div>
          </div>
          <div style="width: 5px; background-color: white;"></div>
          <div style="padding: 5px; padding-top: 10px;">
            <div style="margin-top: 5px; color: white; line-height: 1.1; font-size: 23px; font-family: Roboto Slab; text-align: center; font-weight: 600;">Jade Imperial</div>
            <div style="color: #1fb1cc; text-align: center; font-family: Roboto Slab; font-weight: 900;"><span style="font-size: 20px;">$ </span><span style="font-size: 40px;">{{pplImperialJadeCost}}</span></div>
            <div style="margin-top: 10px; color: white; line-height: 1.1; font-size: 18px; font-family: Roboto Slab; text-align: center; font-weight: 500;">por cliente potencial</div>
            <div style="margin-top: 20px; margin-left: 5px; margin-right: 5px; color: rgb(83, 83, 83); font-size: 12px; line-height: 1.1; text-align: center; font-weight: 600;">Paquete de {{pplImperialJadeClients}} clientes potenciales</div>
            <div class="button-2" (click)="elect(2)">Elegir</div>
          </div>
        </div>
        <div style="margin-left: 15px; margin-right: 15px; margin-top: 10px; color: white; line-height: 1.2; text-align: center;">Paga sólo $1.°° por suscripción y el resto lo pagas hasta que obtengas los clientes potenciales contratados</div>
        <div style="margin-left: 40px; margin-right: 40px; margin-top: 10px; color: white; text-align: center; font-size: 10px;">Pago en pesos mexicanos</div>
        <div style="margin-left: 40px; margin-right: 40px; margin-top: 5px; color: white; text-align: center; font-size: 10px;">Precio más IVA</div>
    </div>
  </div>
  <div *ngIf="!isPpl;" id="modal-content" style="margin: 15px;">
      <div style="color: white; font-size: 20px;"><i class="fa fa-times" aria-hidden="true" (click)="closeModal()"></i></div>
      <div style="margin-bottom: 10px; color: white; text-align: center; font-size: 22px; font-family: Roboto Slab; font-weight: 600;">Obtén clientes potenciales ahora mismo</div>
      <div style="padding: 10px; border-radius: 10px; background-color: #17afcb;">
          <div style="margin-bottom: 10px; margin-left: 10px; margin-right: 10px; color: white; text-align: center; font-size: 22px; font-family: Roboto Slab; font-weight: 600;">¡Aprovecha las ofertas especiales que tenemos para ti!</div>
          <div style=" margin-left: 15px; margin-right: 15px; display: flex; flex-direction: row; justify-content: center; border-radius: 10px; background-color: #87d5e4;">
            <div style="padding: 5px; padding-top: 10px;">
              <div style="margin-top: 5px; color: white; line-height: 1.1; font-size: 23px; font-family: Roboto Slab; text-align: center; font-weight: 600;"><br>Jade</div>
              <div style="color: #1fb1cc; text-align: center; font-family: Roboto Slab; font-weight: 900;"><span style="font-size: 20px;">$ </span><span style="font-size: 40px;">{{jadeCost}}</span></div>
              <div style="margin-top: 10px; color: white; line-height: 1.1; font-size: 18px; font-family: Roboto Slab; text-align: center; font-weight: 500;">mensuales</div>
              <div style="margin-top: 20px; margin-left: 5px; margin-right: 5px; color: rgb(83, 83, 83); font-size: 12px; line-height: 1.1; text-align: center; font-weight: 600;">Paquete contratando un mes de servicio</div>
              <div class="button-1" (click)="elect(1)">Elegir</div>
            </div>
            <div style="width: 5px; background-color: white;"></div>
            <div style="padding: 5px; padding-top: 10px;">
              <div style="margin-top: 5px; color: white; line-height: 1.1; font-size: 23px; font-family: Roboto Slab; text-align: center; font-weight: 600;">Jade Imperial</div>
              <div style="color: #1fb1cc; text-align: center; font-family: Roboto Slab; font-weight: 900;"><span style="font-size: 20px;">$ </span><span style="font-size: 40px;">{{imperialJadeCost}}</span></div>
              <div style="margin-top: 10px; color: white; line-height: 1.1; font-size: 18px; font-family: Roboto Slab; text-align: center; font-weight: 500;">3 x 2</div>
              <div style="margin-top: 20px; margin-left: 5px; margin-right: 5px; color: rgb(83, 83, 83); font-size: 12px; line-height: 1.1; text-align: center; font-weight: 600;">Paga dos meses y recibe el tercero gratis</div>
              <div class="button-2" (click)="elect(2)">Elegir</div>
            </div>
          </div>
          <div style="margin-left: 40px; margin-right: 40px; margin-top: 10px; color: white; text-align: center; font-size: 10px;">Pago en pesos mexicanos</div>
          <div style="margin-left: 40px; margin-right: 40px; margin-top: 5px; color: white; text-align: center; font-size: 10px;">Precio más IVA</div>
      </div>
    </div>
</div>