.button-1 {
    margin: 30px; 
    padding: 5px; 
    border-radius: 10px; 
    background-color:#00ff91; 
    text-align: center; 
    font-weight: 700;
}

.button-1:active {
    background-color: #01c46f;
}

.button-2 {
    margin: 30px; 
    padding: 5px; 
    border-radius: 10px; 
    background-color:#00ff91; 
    text-align: center; 
    font-weight: 700;
}

.button-2:active {
    background-color: #01c46f;
}