<div bsModal #registerModal="bs-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md modal-md-custom">
    <div class="modal-content">
      <div class="koomkin-modal-logo">
        <img src="./../../../../assets/images/navbarLogo.png"/>
      </div>
      <div class="koomkin-modal-body">
        <div class="header">
          <h4>¡Regístrate en Koomkin!</h4>
        </div>
        <div *ngIf="!isRegister" class="form-body">
          <div class="social-login-container">
            <div class="social-row" (click)="facebookLogin()">
              <div class="social-logo facebook">
                <i class="fa fa-facebook"></i>
              </div>
              <div class="social-label facebook-login">
                <span>Regístrate con <strong>Facebook</strong></span>
                <!-- <span>Entra con <strong>Facebook</strong></span> -->
              </div>
            </div>
            <div class="social-row" (click)="googleLogin()">
              <div class="social-logo google">
                <i class="fa fa-google-plus"></i>
              </div>
              <div class="social-label google-login">
                <span>Regístrate con <strong>Google+</strong></span>
                <!-- <span>Entra con <strong>Google+</strong></span> -->
              </div>
            </div>
            <div class="social-row" (click)="twitterLogin()">
              <div class="social-logo twitter">
                <i class="fa fa-twitter"></i>
              </div>
              <div class="social-label twitter-login">
                <span>Regístrate con <strong>Twitter</strong></span>
                <!-- <span>Entra con <strong>Twitter</strong></span> -->
              </div>
            </div>
            <div class="legend">
              <div class="background-line">
                <span>o si prefieres</span>
              </div>
            </div>
            <div class="social-row" (click)="switchRegister()">
              <div class="social-logo koomkin">
                <img src="./../../../../assets/images/svg/icono_koomkin.svg" class="koomkin-icon">
              </div>
              <div class="social-label koomkin-login">
                <span>Regístrate en <strong>Koomkin</strong></span>
                <!-- <span>Entra con <strong>Twitter</strong></span> -->
              </div>
            </div>
            <div class="quit-dialog">
              <a (click)="hideModal()">No, lo haré más tarde</a>
            </div>
          </div>
        </div>
        <div *ngIf="isRegister">
          <form class="register-form" [formGroup]="myForm" (ngSubmit)="onSubmit(f.value)" #f>
            <!--<div class="form-item">
              <input id="name" name="name" formControlName="name" type="text">
              <label for="name">Nombre</label>
              <small *ngIf="true" class="text-muted">
                Aquí puede ir algo shido
              </small>
            </div>-->
            <!--<div class="form-item">
              <input id="l-name" name="phone" type="text">
              <label for="l-name">Apellidos</label>
            </div>-->
            <!--<div class="form-item"
                 [ngClass]="{'error':myForm.hasError('email', 'email') && myForm.get('email').touched}">
              <input id="email" name="phone" formControlName="email" type="tel">
              <label for="email">Email</label>
              <span class="invalid-error" *ngIf="myForm.hasError('email', 'email') && myForm.get('email').touched">
                Email no valido
              </span>
            </div>-->
            <!--<div class="form-item">
              <input id="cellphone" name="cellphone" formControlName="cellphone" type="tel">
              <label for="cellphone">Celular &lt;!&ndash;<span>(opcional)</span>&ndash;&gt;</label>
            </div>-->
            <!--<div class="form-item">
              <input class="password-field" id="password" name="password" formControlName="password" type="password">
              <label for="password">Contraseña</label>
            </div>-->
            <!--<div class="form-item">
              <input class="password-field" id="password-repeat" name="password-repeat"
                     formControlName="password-repeat" type="password" required>
              <label for="password-repeat">Confirmar contraseña</label>
            </div>-->
            <mat-form-field class="form-item">
              <input matInput placeholder="Nombre" formControlName="first_name" autocomplete="off">
            </mat-form-field>
            <mat-form-field class="form-item">
              <input matInput placeholder="Apellido Paterno" formControlName="last_name" autocomplete="off">
            </mat-form-field>
            <mat-form-field class="form-item">
              <input matInput placeholder="Apellido Materno" formControlName="m_last_name" autocomplete="off">
            </mat-form-field>
            <mat-form-field class="form-item">
              <input matInput placeholder="Email" formControlName="email" autocomplete="off">
              <mat-error *ngIf="myForm.controls['email'].hasError('pattern') && myForm.get('email').touched">
                Email no válido
              </mat-error>
              <mat-error *ngIf="myForm.controls['email'].hasError('reservedEmail') && myForm.get('email').touched">
                Email ya existente
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-item">
              <input matInput placeholder="Celular" formControlName="cellphone" autocomplete="off" type="tel">
              <mat-error *ngIf="myForm.controls['cellphone'].hasError('minlength') && myForm.get('email').touched">
                Celular no válido
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-item">
              <input matInput placeholder="Contraseña" formControlName="password" autocomplete="off"
                     [type]="passwordVisible" class="password-input">
              <i class="fa password-show" aria-hidden="true" (click)="showPassword()"
                 [ngClass]="{'fa-eye': passwordShow, 'fa-eye-slash': !passwordShow}"></i>
              <mat-error *ngIf="myForm.controls['password'].hasError('minlength') && myForm.get('password').touched">
                Contraseña debe ser mayor a 8
              </mat-error>
              <mat-error
                *ngIf="myForm.controls['password'].hasError('pattern') && !myForm.controls['password'].hasError('minlength')">
                Debe contener letra mayúscula, número y caracter especial
              </mat-error>
              <!--<label class="password-show" (click)="showPassword()">
                {{passwordText}}
              </label>-->
            </mat-form-field>
          </form>
          <div class="button-group">
            <button class="login-button button" (click)="onSubmit()">
              <label class="register-label">
                Registrarse
              </label>
            </button>
          </div>
          <div class="text-options">
            <div class="quit-dialog">
              <a (click)="hideModal()">No, lo haré más tarde</a>
            </div>
            <div class="go-back" (click)="switchRegister()">
              <label>Volver al menú anterior</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

