@import '../../../../scss/custom-variables';
$twitter: #00aced;

.modal-content {
  border-radius: 0 !important;
}

.form-group {
  width: 100% !important;
}

.koomkin-modal-logo {
  margin-top: 10px;
  text-align: center;
  img {
    height: 70px;
    width: 280px;
  }
}

.koomkin-modal-body {
  margin: 10px 0 20px 0;
  padding: 0 25px;
  .header {
    text-align: center;
    color: $koomkin-green;
  }
}

.button-group {
  display: flex;
  justify-content: space-between;
  .button {
    width: 100%;
    cursor: pointer;
    text-align: center;
    color: $koomkin-grey-dark;
    margin: 0 3%;
    h5 {
      padding-top: 10px;
      padding-bottom: 5px;
    }
  }
  /** login **/
  .active.login-button {
    background-color: $koomkin-yellow;
    color: black;
  }
  .active.login-button:hover {
    background-color: darken($koomkin-yellow, 5%);
  }
  .not-active.login-button {
    background-color: lighten($koomkin-yellow, 25%);
    color: lighten($koomkin-grey-dark, 20%);
  }
  .not-active.login-button:hover {
    color: black;
    background-color: $koomkin-yellow,;
  }
  /** register **/
  .active.register-button {
    background-color: $koomkin-green;
    color: black;
  }
  .active.register-button:hover {
    background-color: darken($koomkin-green, 2%);
  }
  .not-active.register-button {
    background-color: lighten($koomkin-green, 25%);
    color: lighten($koomkin-grey-dark, 20%);
  }
  .not-active.register-button:hover {
    color: black;
    background-color: lighten($koomkin-green, 5%);
  }
  //.not-active {
  //  background-color: lighten($koomkin-green, 10%);
  //  color: white;
  //}
  //.not-active:hover {
  //  background-color: $koomkin-green;
  //}
}

.quit-dialog {
  padding-top: 5px;
  text-align: center;
  font-size: 0.9em;
  color: #5d5d5e;
  text-decoration: underline;
  a {
    cursor: pointer;
  }
  a:hover {
    color: black;
  }
}

.social-login-container {
  display: flex;
  flex-direction: column;
  .social-row {
    display: flex;
    color: white;
    text-align: center;
    height: 45px;
    cursor: pointer;
    .social-logo {
      text-align: center;
      width: 30%;
      font-size: 1.5em;
      padding-top: 7px;
      margin: -1px;
    }
    .social-label {
      width: 70%;
      flex-grow: 1;
      font-size: 1.1em;
      padding-top: 7px;
      margin: -1px;
    }
    .facebook {
      background: $facebook;
    }
    .google {
      background: $google-plus;
    }
    .twitter {
      background: $twitter;
    }
    .facebook-login {
      background: lighten($facebook, 4%);
    }
    .google-login {
      background: lighten($google-plus, 4%);
    }
    .twitter-login {
      background: lighten($twitter, 4%);
    }
  }
  .social-row:hover {
    .facebook {
      background: darken($facebook, 10%);
    }
    .google {
      background: darken($google-plus, 10%);
    }
    .twitter {
      background: darken($twitter, 10%);
    }
    .facebook-login {
      background: darken($facebook, 5%);
    }
    .google-login {
      background: darken($google-plus, 5%);
    }
    .twitter-login {
      background: darken($twitter, 5%);
    }
  }
}

.modal-md {
  top: 0px !important;
  margin: 30px;
}

.register-label {
  margin-top: 8px;
}

.login-label {
  margin-top: 8px;
}