@import '../../../../scss/custom-variables';

.modal-content {
  border-radius: 0 !important;
}

.koomkin-modal-logo {
  margin-top: 10px;
  text-align: center;
  img {
    height: 70px;
    width: 280px;
  }
}

.koomkin-modal-body {
  margin: 10px 0 20px 0;
  padding: 0 25px;
  .header {
    text-align: center;
    color: $koomkin-green;
  }
}

.button-group {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  .register-label {
    text-align: center;
    margin-top: 12px;
  }

  .register-label:hover {
    background-color: darken($koomkin-green, 2%);
  }

  .button {
    width: 225px;
    height: 45px;
    background-color: $koomkin-green;
    color: white;
    margin: 5px 0;
    border-radius: 3px;
    font-size: 0.9em;
  }
  .login-button:hover {
    background-color: darken($koomkin-green, 2%);
  }
}

.quit-dialog {
  padding-top: 5px;
  text-align: center;
  font-size: 0.8em;
  color: #A3A3A3;
  text-decoration: underline;
  a {
    cursor: pointer;
  }
  a:hover {
    color: black;
  }
}

.social-login-container {
  padding: 0.8em 0;
  display: flex;
  flex-direction: column;
  .legend {
    padding: 10px 0;
    text-align: center;
    position: relative;
    z-index: 1;

    &:before {
      border-top: 2px solid #A3A3A3;
      content: "";
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 95%;
      z-index: -1;
    }

    span {
      font-size: 0.8em;
      color: #A3A3A3;
      background: #fff;
      padding: 0 5px;
    }
  }
  .social-row {
    margin: 10px 0;
    display: flex;
    color: white;
    text-align: center;
    height: 45px;
    cursor: pointer;
    .social-logo {
      text-align: center;
      width: 30%;
      font-size: 1.5em;
      padding-top: 7px;
      margin: -1px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .social-label {
      width: 70%;
      flex-grow: 1;
      font-size: 0.9em;
      padding-top: 12px;
      margin: -1px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      span {
        padding-top: 4px;
      }
    }
    .facebook {
      background: $facebook;
    }
    .google {
      background: $google-plus;
    }
    .twitter {
      background: $twitter;
    }
    .koomkin {
      background: $koomkin-green;
    }
    .facebook-login {
      background: lighten($facebook, 4%);
    }
    .google-login {
      background: lighten($google-plus, 4%);
    }
    .twitter-login {
      background: lighten($twitter, 4%);
    }
    .koomkin-login {
      background: lighten($koomkin-green, 4%);
    }
  }
  .social-row:hover {
    .facebook {
      background: darken($facebook, 10%);
    }
    .google {
      background: darken($google-plus, 10%);
    }
    .twitter {
      background: darken($twitter, 10%);
    }
    .koomkin {
      background: darken($koomkin-green, 10%);
    }
    .facebook-login {
      background: darken($facebook, 5%);
    }
    .google-login {
      background: darken($google-plus, 5%);
    }
    .twitter-login {
      background: darken($twitter, 5%);
    }
    .koomkin-login {
      background: darken($koomkin-green, 5%);
    }
  }
}

.koomkin-icon {
  width: 40px;
  margin-bottom: 10px;
}

.login-label {
  margin-top: 8px;
}

.register-form {
  padding: 0 1.5rem;
  .form-item {
    margin: 0.7em 0;
    position: relative;
    overflow: hidden;
    input {
      width: 100%;
      border: none;
      border-bottom: 2px solid $koomkin-green;
      background: none;
      position: relative;
      text-align: right;
      z-index: 1;
      outline: 0;
      padding: 0.375rem 0;
      &:valid.password-field{
        background: white;
      }
      &:focus + label {
        color: $koomkin-green;
        font-size: 0.7rem;
        padding: 1px 0;
        z-index: 2;
        text-transform: uppercase;
        top: 0;
        margin-bottom: -18px;
        span {
          color: white;
        }
      }
    }
    label {
      bottom: 0;
      position: absolute;
      color: #999;
      font-size: 0.9rem;
      transition: background 0.2s,
      color 0.2s,
      top 0.2s,
      bottom 0.2s,
      right 0.2s,
      left 0.2s;
    }
    .text-muted {
      position: absolute;
      top: 35px;
      bottom: 0;
      z-index: 3;
    }
  }
}

.text-options {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.go-back {
  text-align: center;
  label {
    cursor: pointer;
    color: $koomkin-green;
    text-decoration: underline;
    font-size: 0.8rem;
  }
  label:hover {
    color: darken($koomkin-green, 10%);
  }
}

