@media only screen and (max-width : 768px) {
    .example-8 .navbar-brand {
        padding: 0px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
    }
    .example-8 .navbar-brand>img {
        height: 100%;
        width: auto;
        padding: 7px 14px; 
    }
}
  
.example-8 .navbar-brand {
    background: url(./../../../../assets/navbarLogo.png) center / contain no-repeat;
    width: 200px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.navigation-bar-custom {
    background-color: #e5ebe9;
    border: 0px;
    margin-bottom: 0px;
}

.navbar-button {
    position: absolute !important;
    margin-right: 10px;
    right: 0;
}