@import '../../../../scss/custom-variables';

.opacity {
    background-color : rgba($koomkin-green, 0.5);
}

.non-collapse {
    padding: 15px;
    text-align: center;    
}

.collapse-content {
    padding: 1.5rem !important;
    color: white;
    border-top: 1px solid white;
    font-family: Roboto Slab;
}

.logo {
    width: 150px;
    height: 30px;
    margin-top: 10px;
}

.title-container {
    position: absolute !important;
    margin-top:30px;
    font-size: 22px;
    text-align: center;
    color: white;
    font-family: Roboto Slab;
}