<nav class="navbar-light" style="text-align:center; padding: 0.5rem 1rem; background-color: #e5ebe9; z-index: 0;">
    <a class="navbar-brand" href="#" style="margin-right: 0px; padding: 0px;">
      <img src="./../../../../assets/navbarLogo.png" width="150" height="40" class="d-inline-block align-top" alt="">
    </a>
    <button type="button" class="navbar-toggler navbar-button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4" style="background-color: #e5ebe9 !important; border-top: 1px solid black">
    <h4 class="text-black">Collapsed content</h4>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>