<div [ngStyle]="setStyle()">
  <div [ngStyle]="setOpacity()">

    <div id="non-collapse" class="non-collapse">
      <div style="padding-bottom: 15px; z-index: -1;">
        <img class="logo" src="./../../../../assets/navbarLogo-white.png" (click)="redirect(1)">
        <div data-toggle="collapse" data-target="#external-content" class="bars">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
      </div>
      <div style="padding-top: 15px; font-size: 24px; font-family: Roboto Slab; color: white;">
          {{title}}
      </div>
    </div>

    <div id="external-content" class="collapse">
      <div class="collapse-content" style="padding: 15px !important;">
        <h4 (click)="redirect(1)">Inicio</h4>
        <span (click)="redirect(2)">Campaña genérica</span>
      </div>
    </div>

  </div>
</div>



