@import '../../../../scss/custom-variables';

.panel-custom {
    margin-left: 15px;
    margin-right: 15px;
    background-color: $koomkin-yellow;
    width: inherit;
    margin-bottom: 15px;
}

.panel-body-custom {
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    color: #344a54;
    margin-top: 0px; 
    margin-bottom: 0px;
}
