<app-title-card [title]="title" [subtitle]="subtitle" [explanation]="explanation"></app-title-card>

<div class="input-group product-input-custom">
  <span class="input-group-addon">Producto 1*</span>
  <input type="text" class="form-control input-custom" placeholder="Nombre">
</div>

<div class="input-group product-input-custom">
  <span class="input-group-addon">Producto 2*</span>
  <input type="text" class="form-control input-custom" placeholder="Nombre">
</div>

<div class="related-products-label-custom">
  <span>Encontramos estos productos relacionados</span>
</div>

<div class="label-custom">
  <span>¿También los vendes?</span>
</div>

<!-- Area de productos relacionados -->
<div class="related-products" style="overflow:scroll;">
  <!-- TODO: Haces esto ligado al observable de la propiedad en el store -->
  <!-- <div *ngFor="let relatedProduct of relatedProducts$ | async; let i = index"> -->
  <div *ngFor="let relatedProduct of relatedProducts$; let i = index">
    <div class="product-switch">
      <span style="margin-left: 15px;">{{relatedProduct.name}}</span>
      <!-- Switch docs: https://www.npmjs.com/package/ngx-ui-switch -->
      <ui-switch defaultBgColor="#e34b4b" class="switch-custom" (change)="onSwitchChange($event, relatedProduct.id)"></ui-switch>
    </div>
  </div>
</div>

    <div class="panel-custom">
      <div class="panel-body panel-body-custom" (click)="obtenerEstudioPedero()">
        <h4 class="title" align="center">Obtener mi estudio gratis</h4>
      </div>
    </div>
    
    <div class="required-field-custom">
      <span>*Campo Obligatorio</span>
    </div>
