.card {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.panel-custom {
    background-color: #21bcbd;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 0px;
}

.panel-body-custom {
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    color: white;
    margin-top: 0px; 
    margin-bottom: 0px;
}

.product-input-custom {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: auto;
}

.related-products-label-custom {
    margin-left: 15px;
    margin-right: 15px;
}

.label-custom {
    color: #21bcbd;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.required-field-custom {
    color: #baabc9;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.related-products {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.footer-custom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.input-custom:focus {
    border-color: #21bcbd !important;
}

.product-switch {
    position: relative;
    margin-bottom: 15px;
    height: 38px;
}

.switch-custom {
    position: absolute;
    right: 0px;
}