<div class="main-container" style="overflow: scroll; background: -webkit-gradient(linear, left top, right top, from(#32b3aa), to(#33a4bc))">
  <div style="display: flex; justify-content: center;">
    <div class="welcome-image">
      <img src="./assets/lauchpad/iphone.png" alt="">
    </div>
  </div>
  <div style="margin-left: 15px; margin-right: 15px; margin-top: -20px;">
    <div style="color: white; text-align: center; font-size: 28px; font-weight: 600;">
      ¿Cuántos clientes nuevos quieres hoy?
    </div>
    <div style="margin-top: 10px; height: 2px; background-color: white;"></div>
    <div style="color: white; margin-top: 10px; margin-left: 30px; margin-right: 30px; text-align: center; font-size: 17px; font-weight: 400;">
      Descubre el potencial de tu empresa en internet!
    </div>
  </div>
  <div class="start-button">
    <app-next-button [text]="'Comienza ahora'" (onClicked)="goToGeneric()"></app-next-button>
  </div>
</div>

<app-register-modal
  #registerModal>
</app-register-modal>
