.welcome-image {
  // background: url(../../../../assets/lauchpad/iphone.png) no-repeat;
  width: 100%;
  margin-top: -50px;
  background-size: contain;
  display: flex;
  justify-content: center;
  img {
    height: 400px;
  }
}

.main-container {
  position: relative;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  @media screen and (min-width: 1000px){
    padding: 0 30%;
  }

}

.start-button {
  margin-bottom: 15px;
  margin-top: 15px;
  @media screen and (min-width: 1000px){
    padding: 0 17%;
  }
}
