<div bsModal #paymentMethodModal="bs-modal" class="modal fade" role="dialog" style="margin: 30px;">
  <div style="background-color: rgb(232, 240, 249); overflow: auto;">
    <div class="payment-label">Pago</div>
    <div class="membresia-label" >{{membership}}</div>
    <div class="selec-payment-m-label">Selecciona el metodo de pago</div>
    
    <div style="margin-left: 10px; margin-right: 10px; margin-bottom: 20px;">
      <brief-payment-card></brief-payment-card>
    </div>

    <div style="margin-left: 10px; margin-right: 10px; margin-bottom: 20px;">
      <brief-payment-card></brief-payment-card>
    </div>

  </div>
</div>
