<app-instruction-card [title]="title" [subtitle]="subtitle" [explanation]="explanation"></app-instruction-card>

<div class="row" style="margin: 0px;" *ngFor="let option of options; let i = index">
    <div class="card-custom" [ngStyle]="{'box-shadow': getBoxShadowForCard(option.optionId)}" (click)="assignRole(option.optionId)">
      <app-option-img-card [imgUrl]="option.imgUrl" [cardTitle]="option.cardTitle"></app-option-img-card>
    </div>
</div>

<div class="panel-custom">
  <div class="panel-body-custom" (click)="continue()">
    <h4 class="title" align="center">Siguiente</h4>
  </div>
</div>
<div class="omono">
    <a class="link" (click)="goToGeneric()">Otra actividad</a>
</div>

<!-- Modal -->
<app-confirmation-modal
#confirmationModal
[name]="name"
[question]="question"
[imgUrl]="imgUrlModal"
(onAnswer)="onUserConfirmed($event)">
</app-confirmation-modal>