<app-instruction-card [title]="title" [subtitle]="subtitle" [explanation]="explanation"></app-instruction-card>
<app-options-list [options]="options" (onOptionSelected)="setSelectedOption($event)"></app-options-list>
<div class="other-activity-button">
    <a class="link" (click)="goToGeneric()">Otra actividad</a>
</div>
<!-- Modal -->
<app-confirmation-modal
#confirmationModal
[name]="name"
[question]="question"
[imgUrl]="imgUrlModal"
(onAnswer)="onUserConfirmed($event)">
</app-confirmation-modal>
