<app-title-card [title]="title" [subtitle]="subtitle" [explanation]="explanation"></app-title-card>

<div class="row" style="margin: 0px;" *ngFor="let role of roles; let i = index">
    <div class="card" [ngStyle]="{'box-shadow': getBoxShadowForCard(role.roleId)}" (click)="assignRole(role.roleId)">
      <app-img-card [imgUrl]="role.imgUrl" [cardTitle]="role.cardTitle"></app-img-card>
    </div>
</div>

<div class="panel panel-default panel-custom">
    <div class="panel-body panel-body-custom" type="button" (onclick)="doSomething()" ng-click="doSomething()">
      <h4 class="title" align="center">Siguiente</h4>
    </div>
</div>
