<app-instruction-card [title]="title" [subtitle]="subtitle" [explanation]="explanation"></app-instruction-card>

<!-- Automcomplete search box -->
<!-- Modo lento -->
<!-- visit https://github.com/ng2-ui/auto-complete -->
<!-- <div class="search-auto-complete-container">
  <input id="product-input" class="search-box"
  ngui-auto-complete
  [source]="productsArray"
  [(ngModel)]="selectedProduct"
  placeholder="Busca tu producto..."
  value-formatter="name"
  list-formatter="name"
  [match-formatted]="true"
  no-match-found-text="Sin resultados"
  (valueChanged)="selectProduct($event)"
  [open-on-focus]="false"
  [accept-user-input]="true"
  [select-on-blur]="true"
  />
</div> -->
<!-- Modo eficiente -->
<!-- visit https://github.com/oferh/ng2-completer -->
<div class="search-auto-complete-container">
  <ng2-completer id="completer"
    inputId="product-input"
    placeholder="Busca tu producto..."
    textNoResults="Sin resultados"
    textSearching="Buscando"
    (ngModelChange)="inputChange3($event)" 
    [(ngModel)]="selectedProduct" 
    [datasource]="dataService" 
    [minSearchLength]="0">
  </ng2-completer>
</div>

<!-- Fixed image -->
<div class="row" style="margin: 0px;">
  <div class="card-custom">
    <app-real-img-card [imgUrl]="imgUrlFixed"></app-real-img-card>
  </div>
</div>

<!-- Siguiente -->
<app-next-button [text]="'Siguiente'" (onClicked)="continue()"></app-next-button>

<div class="text-link">
    <a class="link" (click)="goToGeneric()">Otra actividad</a>
</div>

<!-- Modal -->
<app-confirmation-modal
#confirmationModal
[name]="name"
[question]="question"
[imgUrl]="imgUrlModal"
(onAnswer)="onUserConfirmed($event)">
</app-confirmation-modal>
