<app-title-card [title]="title" [subtitle]="subtitle" [explanation]="explanation"></app-title-card>

<div>
  Catalogo de productos.
</div>
<!-- visit https://github.com/ng2-ui/auto-complete -->

<div class="row" style="margin: 0px;" *ngFor="let option of options; let i = index">
  <div class="card-custom" [ngStyle]="{'box-shadow': getBoxShadowForCard(option.optionId)}" (click)="assignRole(option.optionId)">
    <app-img-card [imgUrl]="option.imgUrl" [cardTitle]="option.cardTitle"></app-img-card>
  </div>
</div>

<div class="panel-custom">
  <div class="panel-body-custom" (click)="continue()">
    <h4 class="title" align="center">Siguiente</h4>
  </div>
</div>

<!-- Modal -->
<app-confirmation-modal
#confirmationModal
[name]="name"
[question]="question"
[imgUrl]="imgUrl"
(onAnswer)="onUserConfirmed($event)">
</app-confirmation-modal>