@import '../../../../scss/custom-variables';

.panel-custom {
    width: inherit;
    margin-left: 15px;
    margin-right: 15px;
    background-color: $koomkin-yellow;
}
  
.panel-body-custom {
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    margin-top: 0px; 
    margin-bottom: 0px;
    text-align: center;
    color: $koomkin-grey-dark;
}

.cont {
    width: 100%;
    background-color: $koomkin-yellow;
    cursor: pointer;
    
}

.cont:active {
    background-color: #cf942c;
}
