<div style="position: relative; margin-bottom: 15px;">
  <div style="position: absolute; width: 100%; height: 10px; background-color: white; top:-5px;"></div>
  <star-rating-comp [starType]="'svg'" [rating]="0" [size]="'large'" [space]="'around'" (onClick)="onStarClick($event)" ></star-rating-comp>
  <div style="position: absolute; width: 100%; height: 10px; background-color: white; bottom:-5px;"></div>
</div>
<!-- Visit: https://github.com/BioPhoton/angular-star-rating -->

<!-- Styles are on the general stylesheet -->