.panel-custom {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #344a54;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.panel-body-custom {
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    color: white;
    margin-top: 0px; 
    margin-bottom: 0px;
}

.modal-content-custom {
    border-radius: 0px;
}

/* ------------------------------------- */

.img {
    width: 100%;
    height: 200px;
}

.greeting {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #32b3aa;
    margin-bottom: 0px;
}

.question {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #3c4b53;
    margin-bottom: 0px;
}

/* circle buttons */

.btn:focus,.btn:active {
    /* outline: none !important; */
    background-color: #32b3aa !important;
    border-color: #32b3aa !important;
    /* box-shadow: none; */
 }

.btn-primary {
    background-color: #32b3aa;
    border-color: #32b3aa;
}

.btn-circle {
    width: 32px;
    height: 32px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
