<div [ngStyle]="setStyle()">
  <div class="opacity">

    <div id="non-collapse" class="non-collapse">
      <div data-toggle="collapse" data-target="#navbarToggleExternalContent">
        <img class="logo" src="./../../../../assets/navbarLogo-white.png">
        <div style="position: absolute; top: 15px; right: 15px; margin-top: 13px; font-size: 30px; line-height: 1px; color: white;">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
      </div>
      <div class="title-container">{{title}}</div>
    </div>

    <div class="collapse" id="navbarToggleExternalContent">
      <div class="collapse-content" style="padding: 15px !important;">
        <h4 (click)="redirect(1)">Inicio</h4>
        <span (click)="redirect(2)">Campaña genérica</span>
      </div>
    </div>

  </div>
</div>



