<div class="navbar navbar-card">
  <div class="card-block">

    <!-- <nav class="navbar-light navbar-light-custom">
      <div>
        <a class="navbar-brand" data-toggle="collapse" data-target="#navbarToggleExternalContent">
          <img src="./../../../../assets/navbarLogo.png" width="150" height="40" class="d-inline-block align-top" alt="">
        </a>
      </div>
      <div class="title-container">
        {{title}}
      </div>
    </nav> -->
  
    <div style="height: 150px; text-align: center; padding: 15px;">
      <div data-toggle="collapse" data-target="#navbarToggleExternalContent">
          <img src="./../../../../assets/navbarLogo.png" width="150" height="40" class="d-inline-block align-top" alt="">
      </div>
      <div class="title-container">{{title}}</div>
    </div>

    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4" style="background-color: #e5ebe9 !important; border-top: 1px solid black">
        <h4 class="text-black">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>

  </div>
</div>