<div [ngStyle]="setStyle()">
  <div class="opacity">
    <div id="non-collapse" class="non-collapse">
      <div data-toggle="collapse" data-target="#navbarToggleExternalContent">
        <img class="d-inline-block align-top logo" src="./../../../../assets/navbarLogo-white.png">
      </div>
      <div class="title-container">{{title}}</div>
    </div>
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="collapse-content">
        <h4 (click)="redirect(1)">Inicio</h4>
        <span (click)="redirect(2)">Campaña genérica</span>
      </div>
    </div>
  </div>
</div>



