.opacity {
    width: 100%;
    transition : background-color 250ms ease-in-out;
    background-color : rgba(0, 135, 135, 0.5);
}

.non-collapse {
    height: 150px;
    text-align: center;
    padding: 15px;
}

.logo {
    margin-top: 10px; 
    width: 150px;
    height: 30px;
}

.title-container {
    color: white;
    font-size: 22px;
    font-family: Roboto Slab;
    text-align: center;
    margin-top:30px;
    position: absolute !important;
}

.collapse-content {
    padding: 1.5rem !important;
    color: white;
    border-top: 1px solid white;
    font-family: Roboto Slab;
}