<!-- Go back -->
<i class="fa fa-chevron-left" style="margin: 15px; color: white;" (click)="goBack()"></i>
<!-- Titles -->
<div class="titles">
  <div>
    <span>Con Koomkin</span>
  </div>
  <div style="font-size: 28px; font-weight: 550px;">
    <!-- TODO: Esto tiene que ser una propiedad que se jala del store. -->
    <span>Nombre de empresa</span>
  </div>
  <div>
    <span>Obtén clientes potenciales</span>
  </div>
</div>
<!-- Numerotes -->
<div class="clients">
  <div class="box" style="left: 0px;  margin-left: 4%;">
    <div class="number-container">
      20
    </div>
    <div class="periodicity-container">Mensuales</div>
  </div>
  <div class="divisor"></div>
  <div class="box" style="right: 0px;  margin-right: 4%;">
    <div class="number-container">
      5
    </div>
    <div class="periodicity-container">Semanales</div>
  </div>
</div>
<!-- Phrase -->
<div class="publish">
  Publicando a tu empresa en los principales canales digitales
</div>
<!-- Social media icons -->
<div class="social-media-icons" style="height: 10.133333vw;"></div>
<!-- Next button -->
<app-next-button [text]="'Siguiente'" (onClicked)="continue()"></app-next-button>
