<div style="position: absolute; color: white; z-index: 1;">
  <i class="fa fa-chevron-left" aria-hidden="true" style="margin: 15px;" (click)="goBack()"></i>
</div>
<div class="image">
  <div class="opacity">

    <div class="titles">
      <div>
        <span>Con Koomkin</span>
      </div>
      <div style="font-size: 28px; font-weight: 550px;">
        <span>((Nombre de empresa))</span>
      </div>
      <div>
        <span>Obtén clientes potenciales</span>
      </div>
    </div>

    <div class="clients">
      <div class="box" style="left: 0px;  margin-left: 4%;">
        <div class="number-container">
          20
        </div>
        <div class="periodicity-container">Mensuales</div>
      </div>
      
      <div class="divisor"></div>
      
      <div class="box" style="right: 0px;  margin-right: 4%;">
        <div class="number-container">
          5
        </div>
        <div class="periodicity-container">Semanales</div>
      </div>
    </div>

    <div class="publish">
      Publicando a tu empresa en los principales canales digitales
    </div>

    <div class="social-media-icons"></div>

    <div class="panel-custom">
        <div class="panel-body-custom" (click)="continue()">
          <h4 class="title" align="center">Siguiente</h4>
        </div>
      </div>

  </div>
</div>