@import '../../../../scss/custom-variables';

.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    text-indent: -999px;
    cursor: pointer;
    border-radius: 10px;
}

.active-b {
    background-color: $koomkin-green;
}

.indicator {
    border: 1px solid $koomkin-green;
}