.panel-custom {
    margin-top: 15px;
    background-color: #f9b234;
    width: inherit;
}

.panel-body-custom {
    padding-top: 15px;
    padding-bottom: 15px;
}

.title {
    color: #344a54;
    margin-top: 0px; 
    margin-bottom: 0px;
    font-size: 16px;
}

.text-link {
    color: #2196f3;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
}