<div style="overflow: scroll; background: -webkit-gradient(linear, left bottom, right top, from(#33a4bc), to(#32b3aa));">
  <i class="fa fa-chevron-left" aria-hidden="true" style="margin: 15px; color: white;" (click)="goBack()"></i>

<div style="color: white; text-align: center; margin-bottom: 15px;">
  <div style="font-size: 26px; font-weight: 700;">
    <span>Un algoritmo inteligente</span>
  </div>
  <div style="font-size: 20px;">
    <span>diseñado para publicidad digital</span>
  </div>
</div>

<div style="display: flex; justify-content: center;">
  <div style="width: 80vw; height: 70vw; background: url(/../../../assets/offer/Carrete.gif); background-size: 100% 100%;">
  </div>
</div>


<div style="background-color: white; margin: 30px; padding: 10px; border-radius: 15px;">
  <div style="color: #ff7d00; font-weight: 600; text-align: center; font-size: 20px;">
    <span>Nuestro sistema funciona sin que tengas una página web</span>
    <div class="text-link">
        <a class="link" (click)="openModal()">Ver ejemplo de anuncios</a>
    </div>
  </div>
</div>

<div style="margin-left: 15px; margin-right: 15px;">
  <app-next-button [text]="'Obtén clientes potenciales'" (onClicked)="continue()"></app-next-button>
</div>

  <!-- Adds Modal -->
<!-- <app-add-example-modal
#addExampleModal
(onAnswer)="onUserConfirmed($event)">
</app-add-example-modal> -->

<app-add-example-modal
#addExampleModal>
</app-add-example-modal>
</div>