.panel-custom {
    margin: 15px;
    background-color: #f9b134;
}

.panel-custom:active {
    background-color: #cf942c;
}

.panel-body-custom {
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    color: hsl(200, 19%, 28%);
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px; 
    margin-bottom: 0px;
}

.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    text-indent: -999px;
    cursor: pointer;
    border-radius: 10px;
}

.active-b {
    background-color: #32b3aa;
}

.indicator {
    border: 1px solid #32b3aa;
}