<div style="display: flex; justify-content: space-around; background: linear-gradient(45deg,#33a4bc 30%, #32b3aa 70%);">
  <div style="margin-top: 5px; margin-bottom: 5px; margin-top: 5px; text-align: center; font-size: 25px; font-family: Roboto Slab; color: white;">
    {{companyName}}
  </div>
</div>
<div style="margin-top: 15px; margin-bottom: 15px; padding-left: 50px; padding-right: 50px; text-align: center; font-weight: 500; color: #859097">
  Ejemplo de los clientes potenciales que obtendrás con Koomkin
</div>

<!-- <div style="padding-left: 15px; padding-right: 15px;">
  <div style="margin-bottom: 15px; padding: 10px; display: flex; flex-direction: row; justify-content: space-between; background-color: white; border: 1px solid grey;">
    <div style="width: 15%;">
      <div style="display: flex; justify-content: space-around;">
        <img style="width: 10vw; height: 10vw; border-radius: 50%;" src="./../../../assets/offer/sebas.jpg" alt="">
      </div>
    </div>
    <div style="margin-left: 5px; width: 85%;">
      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div style="font-size: 20px; font-weight: 500; line-height: 1.2;">Mike Litoris</div>
        <div style="color: grey; line-height: 1.2;">03/02/2018 13:48</div>
      </div>
      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div>
          <div style="color: grey; line-height: 1.2;">PEMEX</div>
          <div style="margin-right: 5px; color: grey; font-size: 14px;">Buenas tardes, requiero a la brevedad de sus servicios para la instalación de una planta de...</div>
        </div>
        <div style="color: #33b1a5; font-size: 45px;">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-bottom: 15px; padding: 10px; display: flex; flex-direction: row; justify-content: space-between; background-color: white; border: 1px solid grey;">
    <div style="width: 15%;">
      <div style="display: flex; justify-content: space-around;">
        <img style="width: 10vw; height: 10vw; border-radius: 50%;" src="./../../../assets/offer/korean.jpg" alt="">
      </div>
    </div>
    <div style="margin-left: 5px; width: 85%;">
      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div style="font-size: 20px; font-weight: 500; line-height: 1.2;">Sam Sung</div>
        <div style="color: grey; line-height: 1.2;">15/02/2018 17:27</div>
      </div>
      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div>
          <div style="color: grey; line-height: 1.2;">APPLE INC.</div>
          <div style="margin-right: 5px; color: grey; font-size: 14px;">Hola, me podrían cotizar el servicio de la planeacion de una planta en Analco para fabricado de pantallas curvas...</div>
        </div>
        <div style="color: #33b1a5; font-size: 45px;">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-bottom: 15px; padding: 10px; display: flex; flex-direction: row; justify-content: space-between; background-color: white; border: 1px solid grey;">
    <div style="width: 15%;">
      <div style="display: flex; justify-content: space-around;">
        <img style="width: 10vw; height: 10vw; border-radius: 50%;" src="./../../../assets/offer/valentina.jpg" alt="">
      </div>
    </div>
    <div style="margin-left: 5px; width: 85%;">
      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div style="font-size: 20px; font-weight: 500; line-height: 1.2;">Ana Azdrúbal</div>
        <div style="color: grey; line-height: 1.2;">19/03/2018 16:20</div>
      </div>
      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div>
          <div style="color: grey; line-height: 1.2;">IMSS</div>
          <div style="margin-right: 5px; color: grey; font-size: 14px;">Necesito un supervisor de instalación de una planta de luz que genere energía a más de 50 oficinas en la CDMX...</div>
        </div>
        <div style="color: #33b1a5; font-size: 45px;">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div style="padding-left: 15px; padding-right: 15px;">
  <div style="margin-bottom: 15px; background-color: white; border: 1px solid grey;">
    <div style="display: flex; flex-direction: row; justify-content: space-between; border-bottom: 1px solid grey;">
      <div style="width: 15%; padding: 5px; background-color: rgba(255, 0, 0, 0.5);"></div>
      <div style="width: 85%; padding: 5px; background-color: rgba(0, 0, 255, 0.5);">
        <div style="font-size: 18px; font-weight: 600;">Reporte de clientes potenciales</div>
        <div style="margin-top: -5px; font-size: 14px; color: grey;">últimos 12 meses</div>
      </div>
    </div>
    <div style="height: 80px; padding: 5px; background-color: rgba(0, 128, 0, 0.5);"></div>
  </div>
  <div style="margin-bottom: 15px; background-color: white; border: 1px solid grey;">
    <div style="display: flex; flex-direction: row; justify-content: space-between; border-bottom: 1px solid grey;">
      <div style="width: 15%; padding: 5px; background-color: rgba(255, 255, 0, 0.5);"></div>
      <div style="width: 85%; padding: 5px; background-color: rgba(255, 166, 0, 0.5);">
        <div style="font-size: 18px; font-weight: 600;">Clientes potenciales por estado</div>
        <div style="margin-top: -5px; font-size: 14px; color: grey;">últimos 12 meses</div>
      </div>
    </div>
    <div style="height: 80px; padding: 5px; background-color: rgba(128, 0, 128, 0.5);"></div>
  </div>
</div> -->

<!-- Carousel -->
<div id="myCarousel" class="carousel slide" style="height: 65%;" data-ride="carousel">
  <!-- Content -->
  <div class="carousel-inner" style="height: 100%; overflow: scroll;">
    <div class="carousel-item active">
      <div style="padding-left: 15px; padding-right: 15px;">
        <!-- 1st -->
        <div style="margin-bottom: 15px; padding: 10px; display: flex; flex-direction: row; justify-content: space-between; background-color: white; border: 1px solid grey;">
          <div style="width: 15%;">
            <div style="display: flex; justify-content: space-around;">
              <img style="width: 10vw; height: 10vw; border-radius: 50%;" src="./../../../assets/offer/sebas.jpg" alt="">
            </div>
          </div>
          <div style="margin-left: 5px; width: 85%;">
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
              <div style="font-size: 20px; font-weight: 500; line-height: 1.2;">Mike Litoris</div>
              <div style="color: grey; line-height: 1.2;">03/02/2018 13:48</div>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
              <div>
                <div style="color: grey; line-height: 1.2;">PEMEX</div>
                <div style="margin-right: 5px; color: grey; font-size: 14px;">Buenas tardes, requiero a la brevedad de sus servicios para la instalación de una planta de...</div>
              </div>
              <div style="color: #33b1a5; font-size: 45px;">
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <!-- 2nd -->
        <div style="margin-bottom: 15px; padding: 10px; display: flex; flex-direction: row; justify-content: space-between; background-color: white; border: 1px solid grey;">
          <div style="width: 15%;">
            <div style="display: flex; justify-content: space-around;">
              <img style="width: 10vw; height: 10vw; border-radius: 50%;" src="./../../../assets/offer/korean.jpg" alt="">
            </div>
          </div>
          <div style="margin-left: 5px; width: 85%;">
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
              <div style="font-size: 20px; font-weight: 500; line-height: 1.2;">Sam Sung</div>
              <div style="color: grey; line-height: 1.2;">15/02/2018 17:27</div>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
              <div>
                <div style="color: grey; line-height: 1.2;">APPLE INC.</div>
                <div style="margin-right: 5px; color: grey; font-size: 14px;">Hola, me podrían cotizar el servicio de la planeacion de una planta en Analco para fabricado de pantallas
                  curvas...
                </div>
              </div>
              <div style="color: #33b1a5; font-size: 45px;">
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <!-- 3rd -->
        <div style="padding: 10px; display: flex; flex-direction: row; justify-content: space-between; background-color: white; border: 1px solid grey;">
          <div style="width: 15%;">
            <div style="display: flex; justify-content: space-around;">
              <img style="width: 10vw; height: 10vw; border-radius: 50%;" src="./../../../assets/offer/valentina.jpg" alt="">
            </div>
          </div>
          <div style="margin-left: 5px; width: 85%;">
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
              <div style="font-size: 20px; font-weight: 500; line-height: 1.2;">Ana Azdrúbal</div>
              <div style="color: grey; line-height: 1.2;">19/03/2018 16:20</div>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
              <div>
                <div style="color: grey; line-height: 1.2;">IMSS</div>
                <div style="margin-right: 5px; color: grey; font-size: 14px;">Necesito un supervisor de instalación de una planta de luz que genere energía a más de 50 oficinas en la
                  CDMX...
                </div>
              </div>
              <div style="color: #33b1a5; font-size: 45px;">
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div style="padding-left: 15px; padding-right: 15px;">
        <div style="margin-bottom: 15px; background-color: white; border: 1px solid grey;">
          <div style="display: flex; flex-direction: row; justify-content: space-between; border-bottom: 1px solid grey;">
            <div style="position: relative; width: 10vw; padding: 5px;">
              <img style="position: absolute; top: 50%; transform: translateY(-50%); width: 7vw; height: 7vw;" src="./../../../assets/offer/envelope.svg" alt="">
            </div>
            <div style="width: 90%; padding: 5px;">
              <div style="font-size: 18px; font-weight: 600;">Reporte de clientes potenciales</div>
              <div style="margin-top: -5px; font-size: 14px; color: grey;">últimos 12 meses</div>
            </div>
          </div>
          <div style="padding: 5px;">
              <img style="width: 100%; height: 100%;" src="./../../../assets/offer/graph2.svg" alt="">
          </div>
        </div>
        <div style="margin-bottom: 15px; background-color: white; border: 1px solid grey;">
          <div style="display: flex; flex-direction: row; justify-content: space-between; border-bottom: 1px solid grey;">
            <div style="position: relative; width: 10vw; padding: 5px;">
                <img style="position: absolute; top: 50%; transform: translateY(-50%); width: 7vw; height: 7vw;" src="./../../../assets/offer/marker.svg" alt="">
            </div>
            <div style="width: 90%; padding: 5px;">
              <div style="font-size: 18px; font-weight: 600;">Clientes potenciales por estado</div>
              <div style="margin-top: -5px; font-size: 14px; color: grey;">últimos 12 meses</div>
            </div>
          </div>
          <div style="padding: 5px;">
              <img style="width: 100%; height: 100%;" src="./../../../assets/offer/map2.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Carousel indicators -->
<ol class="carousel-indicators" style="position: static; margin-top: 1rem;">
  <li id="uno" data-target="#myCarousel" data-slide-to="0" class="indicator active-b"></li>
  <li id="dos" data-target="#myCarousel" data-slide-to="1" class="indicator"></li>
</ol>

<div id="continue-button" class="panel-custom">
  <div class="panel-body-custom" (click)="showPlans()">
    <h4 class="title" align="center">Conoce nuestros planes</h4>
  </div>
</div>

<app-plans-modal
#plansModal
(onElection)="continue($event)">
</app-plans-modal>