<div style="display: flex; justify-content: space-around; background: linear-gradient(45deg,#33a4bc 30%, #32b3aa 70%);">
  <div style="margin-top: 5px; margin-bottom: 5px; margin-top: 5px; text-align: center; font-size: 25px; font-family: Roboto Slab; color: white;">{{companyName}}</div>
</div>
<div style="margin-top: 15px; margin-bottom: 15px; padding-left: 50px; padding-right: 50px; text-align: center; font-weight: 500; color: #859097">
  Ejemplo de los clientes potenciales que obtendrás con Koomkin
</div>
<div style="padding-left: 15px; padding-right: 15px;">
  
  <div style="margin-bottom: 15px; padding: 10px; display: flex; flex-direction: row; justify-content: space-between; background-color: white; border: 1px solid grey;">
    
    <div style="width: 15%;">
      <div style="display: flex; justify-content: space-around;">
        <img style="width: 40px; height: 40px; border-radius: 50%;" src="./../../../assets/offer/google-logo.png" alt="">
      </div>
    </div>
    <div style="width: 85%;">
      <!-- Aqui va lo interesante -->
      <div style="display: flex; flex-direction: row; justify-content: space-between;">
          <div style="font-size: 20px; font-weight: 500; line-height: 1.2;">John Doe</div>
        <div style="color: grey; line-height: 1.2;">03/02/2018 13:48</div>
      </div>
      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div>
          <div style="color: grey; line-height: 1.2;">PEMEX</div>
          <div style="margin-right: 5px; color: grey; font-size: 14px;">Buenas tardes, requiero a la brevedad de sus servicios para la instalación de una planta de...</div>
        </div>
        <div style="color: #33b1a5; font-size: 45px;"><i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
      </div>
    </div>
  </div>
  
  <div style="height: 50px; margin-bottom: 15px; background-color: white;">
    
  </div>
  
  <div style="height: 50px; margin-bottom: 15px; background-color: white;">
    
  </div>
</div>