<app-instruction-card [title]="title" [subtitle]="subtitle" [explanation]="explanation"></app-instruction-card>

<!-- Automcomplete search box -->
<div class="search-auto-complete-custom">
  <input id="industry-input"
  ngui-auto-complete
  class="search-box"
  [(ngModel)]="selectedIndustry"
  [source]="industriesArray"
  placeholder="Busca tu industria..."
  no-match-found-text="Sin resultados"
  (valueChanged)="selectIndustry($event)"
  [open-on-focus]="false"
  [accept-user-input]="false"
  [select-on-blur]="true"
  value-formatter="name"
  list-formatter="name"
  />
</div>
<!-- visit https://github.com/ng2-ui/auto-complete -->

<!-- Fixed image -->
<div class="row" style="margin: 0px;">
  <div class="card-custom">
    <app-real-img-card [imgUrl]="imgUrlFixed"></app-real-img-card>
  </div>
</div>

<!-- Siguiente -->
<app-next-button [text]="'Siguiente'" (onClicked)="continue()"></app-next-button>

<div class="text-link">
    <a class="link" (click)="goToGeneric()">Otra actividad</a>
</div>

<!-- Modal -->
<app-confirmation-modal
#confirmationModal
[name]="name"
[question]="question"
[imgUrl]="imgUrlModal"
(onAnswer)="onUserConfirmed($event)">
</app-confirmation-modal>